<DOCTYPE! html>
<html>
    <head>
        <title>
            Search Engine
        </title>
        <h1>
            Welcome!
        </h1>
    </head>
    
    <body>
        <div>
            <form method="post">
                <input type="text", name="query">
                <input type ="submit", value="Submit", >
            </form>
        
        </div>
        <p>
            <h2>
                Here are the top 5 websites for [{{the_query}}]:
            </h2>
            <h4>
                1. {{the_query}} 
            </h4>
        </p>
    </body>
</html>