<DOCTYPE! html>
<html>
    <head>
        <title>
            Search Engine
        </title>
        <h1>
            Zotoogle!
        </h1>
        
    </head>
    
    <body>
        <div>
            <form method="post">
                <input type="text", name="query", placeholder="Enter your query...">
                <input type ="submit", value="Submit", >
            </form>
        
        </div>
        <p>
            <h2>
                Here are the top 5 websites for [{{the_query}}]:
            </h2>
            <h4>
                <ol>
                    
                    <li><a href={{q1}}> {{q1}} </a> </li>
                    <li><a href={{q2}}> {{q2}} </a> </li>
                    <li><a href={{q3}}> {{q3}} </a> </li>
                    <li><a href={{q4}}> {{q4}} </a> </li>
                    <li><a href={{q5}}> {{q5}} </a> </li>

                </ol>
                
            </h4>
        </p>
    </body>
</html>